.bg-dark {
  background-color: rgb(56, 56, 56);
}

.text-white {
  color: rgb(255, 255, 255);
}

.text-bold {
  font: bold;
}

.custom-image {
  border-radius: 20px;
  padding: 10px;
  width: calc(100% - 20px);
}

.custom-buttons button {
  background-color: #33a5ff;
  color: white;
}

.custom-buttons button:hover {
  background-color: #33d1ff;
  color: gainsboro;
}

.custom-buttons div {
  background-color: white;
  color: #33a5ff;
}
